.cart {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  z-index: 999;

  display: grid;
  grid-template-rows: 60px 1fr;
  overflow-y: scroll;
  gap: 20px;

  background-color: #fff;
  transition: transform 0.15s ease-in;
}

.cart.opened {
  transform: translateX(0);
}

.cartContent {
  padding: 0 var(--cart-gap) 50px;
}

.cartClose {
  display: flex;
  align-items: center;
  padding: 0 var(--cart-gap);
  background: var(--color-main);
  height: var(--header-height);
}

.cartCloseIcon {
  display: block;
  height: fit-content;
  position: relative;
  top: -2px;
  color: var(--color-main-opp);
  opacity: 0.85;
  margin: 0 auto 0 0;
}

.cartSection {
  padding: var(--cart-gap) 0;
  border-bottom: 2px solid var(--color-border);
}

.cartTitle {
  font-size: var(--fontSizeLg);
  font-weight: var(--fontWeightBold);
  margin: 0;
}

.productList {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--cart-gap);
}

.cartTotal {
  text-align: right;
  padding: var(--cart-gap) 0;
  font-weight: var(--fontWeightBold);
}

.checkoutSubTotal,
.checkoutTotal {
  text-align: right;
  margin-bottom: 10px;
}

.checkoutTotal {
  font-size: 1.4em;
  font-weight: var(--fontWeightBold);
}

.checkoutButton {
  width: 100%;
  background-color: var(--sbm-button-bg);
  color: var(--sbm-button-color);
  margin-top: var(--cart-gap);
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
