.productCard {
  width: 100%;
  display: grid;
  row-gap: 9px;
  color: var(--color-main);
  text-decoration: none;
}

.name {
  font-weight: var(--fontWeightBold);
}

.image img {
  width: 100%;
}

.price {
}
