.selectWrapper {
  position: relative;
}

.label {
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 10px;
  display: block;
}

.input {
  border: var(--input-border);
  color: var(--input-color);
}

.button {
  display: flex;
  width: 100%;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  height: var(--input-height);
}

.button [data-reach-listbox-arrow] {
  position: relative;
  top: 2px;
}

.popover {
  position: absolute;
  width: 100%;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  z-index: 1;
  width: auto !important;
}

.list {
  width: 100%;
  list-style: none;
  padding: 15px 0;

  background-color: var(--color-main-opp);
  box-shadow: var(--main-shadow);
}

.option {
  cursor: pointer;
  padding: 8px 25px;
}

.option:hover,
.option[data-current-nav] {
  background-color: var(--color-border);
}

.option[data-current-selected] {
  background-color: var(--color-main);
  color: var(--color-main-opp);
}
