.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    'navigation'
    '.'
    'footer';
  row-gap: 35px;

  padding-top: calc(var(--header-height) + 40px);
}

.productLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, auto));
  justify-content: space-between;
  gap: 30px;
}
