.formSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--cart-gap);
  margin-bottom: calc(var(--cart-gap) * 2);
}

.formSectionTitle {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeMd);
}

.formField {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  font-weight: var(--fontWeightSemiBold);
  font-size: var(--fontSizeSm);
}

.input {
  margin: 0;
  font-size: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;

  color: var(--input-color);
  border: var(--input-border);
  height: var(--input-height);
}

.formArddressRow {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  gap: 15px;
}
