.navigation {
    grid-area: navigation;
    display: none;

    ul {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0;

        li {
            list-style: none;
            text-align: center;
        }
    }

    @media screen and (min-width: 1024px) {
        display: block;
    }
}
