.navigation {
  grid-area: navigation;

  position: fixed;
  left: 0;
  right: 0;
  top: var(--header-height);

  background-color: var(--color-main-opp);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  visibility: hidden;
  opacity: 0;
}

.navigation ul {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px;
}

.navigation ul li {
  list-style: none;
  text-align: center;
  padding: 10px;
}
.navigation ul li a {
  text-decoration: none;
  color: var(--color-main);
  font-size: var(--fontSizeNormal);
}

.navigation ul li:active {
  background: rbga(0, 0, 0, 0.2);
}
