.productWrapper {
  --gap: 20px;
}

.name {
  font-size: var(--fontSizeLg);
  margin-bottom: var(--gap);
  font-weight: var(--fontWeightSemiBold);
}

.price {
  font-size: var(--fontSizeMd);
  font-weight: var(--fontWeightBold);
  margin-bottom: var(--gap);
}

.stick {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stick img {
  width: 20%;
}

.info {
  display: grid;
  row-gap: 20px;
  font-weight: var(--fontWeightNormal);
  margin-bottom: 20px;
}

.info ul {
  list-style: none;
}

.info ul li {
  margin-bottom: 8px;
}
