.header {
    grid-area: header;

    display: grid;
    align-items: center;
    height: 80px;
    grid-template-rows: auto;
    box-shadow: 0 2px 20px 0px rgba(#000, 0.25);
    grid-template-columns: 35px 180px 35px;
    grid-template-areas: 'navButton logo cart';
    justify-content: space-between;
}

.logo {
    grid-area: logo;
    text-align: center;

    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
}

.search {
    display: none;
    grid-area: search;
}

.cart {
    grid-area: cart;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
}

.navButton {
    grid-area: navButton;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
