* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Font */
  --fontFamily: 'Montserrat', sans-serif;
  --fontWeightLight: 300;
  --fontWeightNormal: 400;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;
  --fontSizeSm: 14px;
  --fontSizeMd: 20px;
  --fontSizeLg: 26px;

  /* Colors */
  --color-main: #000;
  --color-main-opp: #fff;
  --color-border: rgba(0, 0, 0, 0.2);

  /* Cart */
  --cart-gap: 20px;
  --sbm-button-color: var(--color-main-opp);
  --sbm-button-bg: var(--color-main);
}

body {
  margin: 0;
  font-family: var(--fontFamily);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  padding: 0 25px;
}
